* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
/* body */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* logo */
.logo h2 {
    font-size: 45px;
    font-weight: 900;
}
.color-orange {
    color: #FD6E0A;
}
.btn {
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    cursor: pointer;
}
.section-heading {
    max-width: 827px;
    text-align: center;
}
.section-heading h2 {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.section-heading p {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}


/* main style */
/* header */
header {
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-position: top 38px left 23px, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

/* nav */
nav {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
/* hero-banner */
#hero-banner {
    margin: 46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#hero-banner .banner-content {
    max-width: 585px;
}
#hero-banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#hero-banner .banner-content h1 {
    font-size: 85px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 20px;
}
#hero-banner .banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#hero-banner .banner-image img {
    max-width: 584px;
    vertical-align: middle;
}


/* about */
#about {
    padding-top: 130px;
}
#about .about-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
.about-info .info-card p {
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.about-info .info-card h4 {
    font-size: 20px;
    line-height: 30px;
    color: #474747;
}
